<app-header></app-header>
<div class="content">
  <div class="categories">
    <div class="column">
      <h2>WSZYSTKIE</h2>
      <h2>MOTORYZACJA</h2>
      <h2>NIERUCHOMOŚCI</h2>
      <h2>PRACA</h2>
    </div>
    <div class="column">
      <h2>MODA I STYL</h2>
      <h2>DOM I OGRÓD</h2>
      <h2>DLA DZIECKA</h2>
      <h2>ELEKTRONIKA</h2>
    </div>
    <div class="column">
      <h2>KULTURA I ROZRYWKA</h2>
      <h2>ANTYKI I SZTUKA</h2>
      <h2>BIZNES I PRZEMYSŁ</h2>
      <h2>ZEGARKI I BIŻUTERA</h2>
    </div>
    <div class="column">
      <h2>SPORT I WYPOCZYNEK</h2>
      <h2>ROLNICTWO</h2>
      <h2>ZWIERZĘTA</h2>
      <h2>ZDROWIE I URODA</h2>
    </div>
    <div class="column">
      <h2>USŁUGI</h2>
      <h2>POZOSTAŁE</h2>
    </div>
  </div>
</div>
<app-footer></app-footer>
